<a href="https://colab.research.google.com/github/mittalanvi/Projects_series/blob/main/Get_Started.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

In [ ]:
n1 = input("enter the first numbers you want to add " ,  )
print(type(n1))
n1 =int(n1)
n2 = input("enter the  second number you want to add " ,  )
print(type(n2))
n2 =int(n2)
print((n1+n2)/2)
print("the square of n1 is ", n1*n1)
print("the square of n2 is ", n2*n2)

In [ ]:
n = input("enter the  number you want to find remainder of " ,  )
n=int(n)
print(n%2)

In [ ]:
a=int(input("Enter the number: ", ))
b=int(input("Enter the number: ", ))
if(a>b):
  print(a ," is greater than", b)
else:
    print(b ," is greater than",a)

In [ ]:
a= input("Enter your name " , )
print("Good Afternoon ", + a)

In [ ]:
b= input("Enter your name " , )
c= input("Enter date " , )
letter = ''' Dear <b>,
   You are Selected!
   <c>'''
letter=letter.replace("<b>",b)
letter= letter.replace("<c>",c)
print(letter)

In [ ]:
v= input("Enter ", )
print(v.find("  "))
v=v.replace("  ", " Extra spaces ")
print(v)

In [ ]:
lette= "dear harry, \n This Python course is ok\t only not that nice"
print(lette)

In [ ]:
c=input("Enter the name 1 fruit ", )
e=input("Enter the name 1 fruit ", )
f=input("Enter the name 1 fruit ", )
g=input("Enter the name 1 fruit ", )
h=input("Enter the name 1 fruit ", )
i=input("Enter the name 1 fruit ", )
j=input("Enter the name 1 fruit ", )
a=[c,e,f,g,h,i,j]
print(a)wf

In [ ]:
c=int(input("Enter the Marks  1 student ", ))
e=int(input("Enter the marks 2 fruit ", ))
f=int(input("Enter the marks 3 fruit ", ))
g=int(input("Enter the marks 4 fruit ", ))
h=int(input("Enter the marks 5 fruit ", ))
a=[c,e,f,g,h]
a.sort()
print(a)1

In [ ]:
x=(1,2,3,4)
x[1]=58

In [ ]:
c=int(input("Enter the Marks  1 student ", ))
e=int(input("Enter the marks 2 fruit ", ))
f=int(input("Enter the marks 3 fruit ", ))
g=int(input("Enter the marks 4 fruit ", ))
a=[c,e,f,g]
print("sum", a[0]+a[1]+a[2]+a[3])

In [ ]:
a=(7,0,8,0,0,9)
print(a.count(0))
a=(7,0,8,0,0,9)
a.count(0)

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
a = { 'Athleisure' :'Comfortable and casual footwear & clothing designed for exercise and rigorous activity' ,
     'Broigus' : 'Angry or irritated.',
      'By-Catch' : 'A catch of fish that cannot be put to commercial use',
      'Blert': 'A cowardly person, someone who is weak.'
}
print("From here write :" , a.keys())
i = input("Enter " )
print("The meaning is as follows : ", a[i] )

In [ ]:
a=np.arange(0,20)
a=a.reshape(4,5)
print(a)
a[1:3,2:5]

In [ ]:
r=np.random.randn(3,3)
print(r)
for i in range(len(r)) :
 for j in range(len(r)) :
  if(r[i][j]<0.0) :
   r[i][j]=1
  else :
   r[i][j]=r[i][j]

print(r)

In [ ]:
r=np.arange(0,9)
r=r.reshape(3,3)
print(r)
a=np.empty((3,3), int)


for i in range(0,3) :
  for j in range(0,3) :
    a[j][i]=r[i][j]


print(a)

In [ ]:
r=10
a=[0,0,0,0,0,0,0,0,0,0,0]

for i in range(0,11) :
  a[i]=int(input("Enetr"))

s={a[0],a[1],a[2],a[3],a[4],a[5],a[6],a[7],a[8],a[9]}
print(s)

In [ ]:
a={18,"18"}
print(a)
type(a)

In [ ]:
s={0}
s.add(20)
s.add(12)
s.add("12")
print(len(s))
type(s)
s[0]=2

In [ ]:
a=['we',"m","r","t","y"]

b=['we',"m","r","t","y"]
for i in range(0,2) :
  a[i]=input("Enter your name")
for  i in range (0,2) :
 b[i]=input("Enter ur fav sub")

d={a[0]:b[0],a[1]:b[1]}
print(d)

In [ ]:
a=int(input("enter : "))
b=int(input("enter :"))
c=int(input("enter :"))
d=int(input("enter :"))
if(a>b&a>c):
  if(a>d):
    print( " The greatest number is ",a)
  else:
   print("The greatest number is " ,d)
elif(b>c&b>d):
  print("The greatest number is ", b)
else:
  print("The greatest number is ",c)

In [ ]:
a=int(input("enter : "))
b=int(input("enter :"))
c=int(input("enter :"))
if (a+b+c/300 >0.4):
  print("Ur pass")
else:
  print("ur fail")
  if(a/100<0.33):
    print("Failed beacuse of A\n")
  elif(b/100<0.33):
    print("Failed beacuse of B\n")
  else:
    print("Failed beacuse of C\n")

In [ ]:
a=input("enter : ")
if(len(a)>10):
  print("The length of the name is greater than 10\n")
else:
  print("The length of the name is less than 10\n")

In [ ]:
a=int(input("enter : "))
if(a/100>0.9):
  print("A")
elif(a/100>0.9):
  print("A")
elif(0.8<a/100<0.9):
  print("B")
elif(0.7<a/100<0.8):
  print("C")
elif(0.6<a/100<0.7):
  print("D")
elif(0.5<a/100<0.6):
  print("E")
else:
  print("poor")

In [ ]:
a=input("enter : ")
if 'buy now' in a:
  print("Spam")
elif 'spam' in a:
  print("spam")
elif 'Click this' in a:
  print("spam")
else:
  print("not spam")

In [ ]:
ist=["Anvi","mittal","ansh"]
a=input("enter",)
for i in range(0,3):
  if(ist[i] in a):
    print("Yo")
    break
  else:
    print("nup")
    break

In [ ]:
a=input("enter : ")
if 'harry' in a:
  print("tlking about harry")
else:
  print("not talking about harry")

In [ ]:
iris=sns.load_dataset('iris')
iris.head()

In [ ]:
sns.heatmap(iris.corr())

In [ ]:
iris.isnull().sum()

In [ ]:
iris['petal_width'].value_counts()

In [ ]:
sns.countplot(data=iris, y="species")

In [ ]:
iris['species'].value_counts()

In [ ]:
sns.jointplot(x='petal_width',y='sepal_length',data=iris,kind='reg')

In [ ]:
sns.jointplot(x='petal_length',y='sepal_width',data=iris,kind='reg')

In [ ]:
sns.distplot(iris['sepal_length'])

In [ ]:
sns.distplot(iris['sepal_width'])

In [ ]:
sns.pairplot(iris,size=2,hue='species')

In [ ]:
sns.barplot(x='species',y='petal_width',data=iris,width=0.5)

In [ ]:
sns.barplot(x='species',y='petal_length',data=iris,width=0.5,palette=('r','g','y'))

In [ ]:
sns.boxplot(data=iris,x='species',y='sepal_width')

In [ ]:
sns.boxplot(data=iris,x='species',y='sepal_width')

In [ ]:
sns.boxplot(data=iris,x='species',y='petal_length')

In [ ]:
iris.info()

In [ ]:
iris.describe()

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns

In [ ]:
a=np.arange(0,25)
a=a.reshape(5,5)
a

In [ ]:
df=sns.load_dataset('iris')
df

In [ ]:

df1=pd.DataFrame(data=a,index=('a','b','c','d','e'),columns=('an','er','rt','yu','ui'),dtype=str)
df1

In [ ]:
df1['an'].value_counts()

In [ ]:
df1=pd.DataFrame(data=a,columns=('an','er','rt','yu','ui'),dtype=int)
df1.set_index('an')

In [ ]:
df['petal_length'].value_counts()

In [ ]:
df['species'].value_counts()

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df1=df.drop(columns=['petal_length'])
df1

In [ ]:
df1[df1.sepal_length>6]

In [ ]:
def is_float(x):
  try:
    float(x)
  except:
    return False
  return True
is_float(1)

In [ ]:
s=[[1,2],[3,4],[5,6],[7,8]]
a=pd.DataFrame(s,columns=("1st","2nd"))
a.set_index('1st')